{% extends "layout.html" %}
{% block title %}Card Battle!{% endblock %}
{% block content %}
<h1>Card Game</h1>
<div id="cardBattle">

  <div class="cardDisplay">

    <div class="padded">
    {% if game.usersTurn %}
    <h2>Your turn!</h2>
    {% else %}
    <h2> * </h2>
    {% endif %}

      {% if game.checkForWinner() == 2 %}
    <script>  loadCard("loose")</script>
      {% else %}
    <script>  loadCard("{{game.getTopCards()[0].name}}")</script>
      {% endif %}
      <div id="pokemonCard" ></div>
      <br>
      <br>
      <h2>Cards Left: {{game.getCardsLeft()[0]}}</h2>
    </div>

    <div class="padded">
    {% if game.usersTurn %}
    <h2> * </h2>
    {% else %}
    <h2>Opponents Turn!</h2>
    {% endif %}

      {% if game.checkForWinner() == 1 %}
    <script>  loadCard2("loose")</script>
      {% else %}
    <script>  loadCard2("{{game.getTopCards()[1].name}}")</script>
      {% endif %}
      <div id="pokemonCard2" ></div>
      <br>
      <br>
      <h2>Cards Left: {{game.getCardsLeft()[1]}}</h2>
    </div>
  </div>
  <br>


  <div class="buttonDisplay">
    <form id="downloadPokemon" action="/cardGameNew" method="get">
      <button class="submit" type="submit" value="/newGame" >New Game</button>
    </form>

    <script> loadSelectMove() </script>
    <div id="selectMove"></div>

    <form id="New Game" action="/cardGameDownload" method="get">
    <button class="submit" type="submit" value="/downloadPokemon" >Download Data</button>
  </form>
  </div>
  <div >
  {% if game.checkForWinner() == 0 %}
  {% if game.usersTurn %}
  <form id="userAttack" action="/UserAttacks" method="get">
    <div class="attackButtons">
    {% for attack in game.availableAttacks()%}
    <a><button class='btn btn-default' onclick="userAttacks('{{attack}}'); return false">{{attack}}</button></a>
    {% endfor %}
    </div>
  </form>
  {% else %}
  <form>
    <a href="#" id="buttonid"><button class='btn btn-default' onclick="AiAttacks(); return false">Defend</button></a>
  </form>

  {% endif %}
  {% endif %}

  </div>

</div>
{% endblock %}