{% if game.checkForWinner() == 0 %}
{% if game.usersTurn %}
<form id="userAttack" action="/cardGameUserAttacked" method="get">
  <div class="attackButtons">
  {% for attack in game.availableAttacks()%}
  <button class="submitAttack" type="submit" name="attackType" value={{attack}} >{{attack}}</button>
  {% endfor %}
  </div>
</form>
{% else %}
<form id="AiAttacks" action="/cardGameAiAttacked" method="get">
  <button class="submit" type="submit" value="/nextTurn" >Defend</button>
</form>
{% endif %}
{% endif %}
