{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}

<h1>Pokedex</h1>
<div class="pokecard">
<img class="Logo" src="https://www.freepnglogos.com/uploads/gotta-catch-em-all-transparent-pokemon-logo-11.png" alt="Logo">
<div class="pokemonDetails">
<p class="namePokemon">{{pokemon.name}}</p>
<img class="pokemonImage" src={{pokemon.artwork}} alt="Logo">
</div>
<p class="details">Attack: {{pokemon.attack}}</p>
  <p class="details">Defense: {{pokemon.defense}}</p>
  <p class="details">Type: {{pokemon.type1}} {{pokemon.type2}}</p>

</div>
<form id="downloadPokemon" action="/downloadPokemon" method="get">
  <button class="submit" type="submit" value="/downloadPokemon" >Download Data</button>
</form>
<div class="dropdown">
  <button class="dropbtn">Select Pokemon</button>
  <div class="dropdown-content">
    {% for name in names %}
  <p><a type="button" href="/pokedex?name={{name}}">{{name}}</a></p>
    {% endfor %}
  </div>
</div>


{% endblock %}


